@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS global custom */
html, body, #__next {
  height: 100%;
  background: linear-gradient(180deg, #eef3ff 0%, #f8fbff 100%);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
